    /* CSS for dark mode */
    body.dark-mode {
        background-color: #343a40; /* Replace with the desired gray color */
        color: #fff; /* Set text color to white or a suitable color for dark mode */
      }
  
      .navbar-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .fade-efct-fast {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .fade-efct-med {
    opacity: 0;
    transition: opacity 2s ease;
  }
  
  .fade-efct-slow {
    opacity: 0;
    transition: opacity 3s ease;
  }